@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
.back-img{
    width: 100%;
    height:35rem;
    position: relative;
}
.logo{
    position: absolute;
    top:3rem;
    left:2.5rem;
}
.btn1{
    position: absolute;
    top:3rem;
    right:3rem;
    width:8rem;
    height:2.5rem;
    background-color: white;
    color: #26364f;
    border-radius: 2rem 2rem;
    font-weight: 900;
    border-style:dashed;
}

.hero{
    position:absolute;
    top:10rem;
    display: flex;
    justify-content: space-around;
    width:100%;
   
}
.side-img{
    
}
.make-up{
    width:37rem;
}
.content{
    width:40%;
    position: relative;
    top:6rem;
    left:2rem;
}
.content h1{
    width:20rem;
    margin-bottom: 2rem;
    font-size: 32px;
    line-height: 2.8rem;
    color:#26364f ;
}
.content p{
    width:32rem;
    margin-bottom: 3rem;
    color:#26364f ;
    line-height: 1.5rem;
    font-size: 20px;
}
.content button{
    width:18rem;
    height:3.5rem;
    background-color: #eb2d9b;
    color: white;
    border-radius: 2rem 2rem;
    border-style: none;
}
.container2{
    width:100%;
   
}
.grid-wrapper{
    display: flex;
}
.grid-wrapper .text{
    position: absolute;
    top:11rem;
    width:37%;
    left:7rem;
    line-height: 1.3rem;
}
.grid-wrapper .text h2{
    margin-bottom: 1rem;
}
.grid-wrapper .text p{
    color: #a2aeb0;
    font-size:1.1rem;
}
.grow-together{
    position: absolute;
    top:4rem;
    left:43rem;
    width:20rem;
}
.grow{
    position: absolute;
    top:5rem;
    right:42rem;
    width:20rem;
}
.grid-wrapper .text-change{
    position: absolute;
    top:11rem;
    width:37%;
    right:7rem;
    line-height: 1.3rem;
}
.grid-wrapper .text-change p{
    color: #a2aeb0;
    font-size:1.1rem;
}
.grid-wrapper .text-change h2{
    margin-bottom: 1rem;
}
.box{
    height:28rem;
    width:85%;
    background-color:white;
    position: relative;
    margin-top: 12rem;
    left:6rem;
    border-style: solid;
  border-color: #edeff0; 
}


/* footerstarted */
.footer{
    background-color: #1d2d47;
    margin-top: 20rem;
    padding:2rem;
    color: white;
    width:100%;
    height:500px;
    position: relative;
}

.unorder-list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
}
.foo-logo{
    color: aliceblue;
}
.set {
    display: flex;
    justify-content: space-between;
}
.space{
    margin:1.5rem;
}
.contact{
    width:40%;
}
.icons{
    display: flex;
}
.icons1{
    padding:1rem;
}
.single-box{
    height:15rem;
    width:55%;
    left:16rem;
    bottom:32rem;
    background-color:white;
    position: absolute;
    border-style: solid;
  border-color: #edeff0;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.btn4{
    width:50%;
    height: 70px;
    color: white;
    background-color: #ed2fd4;
    border-radius: 2rem 2rem;
    border-style: none;
}
.btn3{
    width:70%;
    height:40px;
    background-color: white;
    border-style: none;
}



@media only screen and (max-width: 600px) {
    html {
      font-size: 12px;
    }
    .logo{
        font-size: 1rem;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }
    .content{
        margin-bottom: 10rem;
        
    }
    .make-up{
        width:400px;
        
    }
    .box{
        left:30px;
    }
    .boxes{
        margin-top: 40rem;
    }
    .grow-together{
        display: none;
    }
    .grow{
        display: none;
    }
    .single-box{
        width:50%;
        left:8rem;
        top:-10rem;
    }
    .single-box h1{
        font-size: 16px;
    }
    .single-box h2{
        font-size: 10px;
    }
    .btn4{
        height: 3rem;
    }
}
@media only screen and (max-width: 800px) {
    html {
      font-size: 12px;
    }
    .logo{
        font-size: 1rem;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }
    .content{
        margin-bottom: 10rem;
        
    }
    .make-up{
        width:400px;
        
    }
    .box{
        left:30px;
    }
    .boxes{
        margin-top: 40rem;
    }
    .grow-together{
       width:20rem;
       left:23rem;
    }
    .text{
        right:5rem;
    }
    .grow{
        width:20rem;
       right:23rem;
    }
    .single-box{
        width:50%;
        left:10rem;
        top:-10rem;
    }
    .single-box h1{
        font-size: 16px;
    }
    .single-box h2{
        font-size: 10px;
    }
    .btn4{
        height: 3rem;
    }
}

@media only screen and (max-width: 800px) {
    html {
      font-size: 12px;
    }
    .logo{
        font-size: 4rem;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }
    .content{
        margin-bottom: 10rem;
        
    }
    .make-up{
        width:650px;
        
    }
    .box{
        left:30px;
        border-style: none;
    }
    .boxes{
        margin-top: 50rem;
    }
    .grow-together{
       width:25rem;
       left:32rem;
    }
    .text{
        right:5rem;
    }
    .grow{
        width:25rem;
       right:32rem;
    }
    .single-box{
        width:50%;
        left:15rem;
        top:-10rem;
    }
    .single-box h1{
        font-size: 16px;
    }
    .single-box h2{
        font-size: 10px;
    }
    .btn4{
        height: 3rem;
    }
}


